# macOS
.DS_Store

# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
build/
dist/
frontend/build/
frontend/dist/
backend/build/
backend/dist/

# Logs
*.log

# Environment variables
.env
frontend/.env
backend/.env

# Vite
frontend/.vite

# React Router
frontend/.react-router/


# IDE files
.vscode/


# TypeScript cache
*.tsbuildinfo

# Ignore public build artifacts
frontend/public/build/
